body {
  background-color: #ffcc80;
  color: #282425;
  font-size: 20px;
  line-height: 1.8;
  font-family: "Dosis", sans-serif;
  margin: 0px;
  text-align: center;
}

h1,
h2 {
  color: #8b4513;
  font-family: "Dosis", sans-serif;
  font-weight: bold;
  text-align: center;
}

a {
  color: #756158;
  font-style: italic;
}

h1 {
  font-size: 60px;
  margin: 0;
}

h2 {
  font-size: 35px;
  margin-top: 0px;
}

.footer {
  background-color: #282425;
  color: whitesmoke;
  text-align: center;
  padding: 3px 0px;
}

.header {
  background-color: #ffd9b3;
  padding: 60px 30px;
}

.interests,
.contact {
  background-color: #ffd9b3;
}

.interests {
  text-align: left;
}

.fotkaeva {
  width: 250px;
  border-left: 10px solid #8b4513;
  border-radius: 20px;
}

section {
  padding: 50px 15%;
}
